.categori {
    list-style-type: none;
    padding: 0;
    margin: 24px;

}

.house {
    color: green;
}

@font-face {
    font-family: 'MyFont';
    src: url('fonts\RougeScript-Regular.ttf') format('truetype');
    font-weight: normal;
}

.Super {
    font-family: "MyFont", cursive;
    color: green;
    margin-top: 732px;
}



.baza {
    width: 400px;
}

.farba {
    background-color: #FBFBFB;
    height: auto;
}



.product {

    display: block;
    align-items: center;

}

.alls {
    display: flex;
    flex: auto;
}

.content {

    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;



}

.container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.price {
    color: green;

}

.menu {
    display: flex;
    justify-content: left;
    padding: 20px 0;
    gap: 40px;
    margin-left: 10px
}

.color {
    color: green
}


.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    padding-right: 15px;

}


.pagination-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}


.page-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;

    height: 35px;


    margin-left: 10px;



    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #fff;
    color: #3d3d3d;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}


.page-item.active {
    background-color: #5cb85c;

    border-color: #5cb85c;

    color: #fff;

}

.page-item.next-page {
    font-weight: 700;
    color: #3d3d3d;
}


.page-item:not(.active):hover {
    background-color: #f0f0f0;
}